@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body,html{
  background-color: #f4f4f4;
  font-family: 'Oswald', sans-serif;
}

#root{
  width: 90%;
  margin: 0 auto;
}
.singleBidder{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #50C878;
  border-radius: 10px;
}
.toggleButton{
  text-align: right;
  margin-bottom: 20px;
}
.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track{
  background-color: #50C878 !important;
}
.MuiSwitch-colorSecondary.Mui-checked{
  color: #50C878 !important;
}