@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body,html{
  background-color: #f4f4f4;
  font-family: 'Oswald', sans-serif !important;
}
.MuiTableCell-root{
  font-family: 'Oswald', sans-serif !important;
}

#root{
  width: 90%;
  margin: 0 auto;
}
.MuiPaper-root{
  background-color: transparent !important;
  box-shadow: none !important;
}
.MuiTable-root{
  border-spacing: 0px 15px !important;
  border-collapse: separate !important;
}
.MuiTableRow-root{
  background-color: #50C878;
  
}
.MuiTableCell-head{
  font-weight: bold !important;
}
.MuiTableCell-root{
  font-size: 1rem !important; 
}
td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}
.toggleButton{
  text-align: right;
  margin-bottom: 20px;
}
.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track{
  background-color: #50C878 !important;
}
.MuiSwitch-colorSecondary.Mui-checked{
  color: #50C878 !important;
}